In [2]:
import pandas as pd
import numpy as np

Создание DataFrame из словаря

In [4]:
dic = {'Количество': [40, 21, 54], 'Цена': [2100, 510.7, 2541]}
df = pd.DataFrame(data=dic)
display(df)

   Количество    Цена
0          40  2100.0
1          21   510.7
2          54  2541.0

Создание DataFrame из списка словарей

In [5]:
lst = [{'Количество': 115, 'Цена': 21010},
       {'Количество': 210, 'Цена': 14150.5},
       {'Количество': 501, 'Цена': 181010}]
df = pd.DataFrame(lst)
display(df)

   Количество      Цена
0         115   21010.0
1         210   14150.5
2         501  181010.0

Создание DataFrame из списка списков

In [7]:
lst = [[115, 20201],
       [210, 4502.15],
       [21, 54.15],
       [150, 211800]]
df = pd.DataFrame(lst, columns=['Количество', 'Цена'])
display(df)

   Количество       Цена
0         115   20201.00
1         210    4502.15
2          21      54.15
3         150  211800.00

In [9]:
srs1 = pd.Series([1, 2, 3, 4, 5], name='Количество')
srs2 = pd.Series([10, 20, 30, 40, 50], name='Цена')
df = pd.DataFrame([srs1, srs2])
df = df.T
display(df)

   Количество  Цена
0           1    10
1           2    20
2           3    30
3           4    40
4           5    50

Создание объекта DataFrame из массива NumPy

In [15]:
np_obj = np.random.randint(1, 1200, (3, 2))
df = pd.DataFrame(np_obj, columns=['Количество', 'Цена'])
display(df)

   Количество  Цена
0         421   905
1         631  1179
2         780   295

In [3]:
brent_values = [['20231002', 92.47, 93.33, 90.35, 90.48],
                ['20231003', 90.48, 91.56, 89.5, 91.1],
                ['20231004', 91.1, 91.21, 85.75, 86.09],
                ['20231005', 86.09, 86.52, 83.84, 84.18],
                ['20231006', 84.18, 84.95, 83.44, 84.47],
                ['20231008', 84.43, 88.15, 84.43, 87.37],
                ['20231009', 87.38, 89.0, 86.42, 88.25],
                ['20231010', 88.25, 88.49, 86.91, 87.72],
                ['20231011', 87.72, 88.26, 85.21, 85.54],
                ['20231012', 85.54, 87.64, 85.18, 86.26],
                ['20231013', 86.26, 91.0, 86.26, 90.94]]
brent_columns = ['date', 'open', 'high', 'low', 'close']
brent = pd.DataFrame(data=brent_values, columns=brent_columns)
display(brent)

        date   open   high    low  close
0   20231002  92.47  93.33  90.35  90.48
1   20231003  90.48  91.56  89.50  91.10
2   20231004  91.10  91.21  85.75  86.09
3   20231005  86.09  86.52  83.84  84.18
4   20231006  84.18  84.95  83.44  84.47
5   20231008  84.43  88.15  84.43  87.37
6   20231009  87.38  89.00  86.42  88.25
7   20231010  88.25  88.49  86.91  87.72
8   20231011  87.72  88.26  85.21  85.54
9   20231012  85.54  87.64  85.18  86.26
10  20231013  86.26  91.00  86.26  90.94

In [10]:
brent.size
brent.index
brent.columns
brent.values

array([['20231002', 92.47, 93.33, 90.35, 90.48],
       ['20231003', 90.48, 91.56, 89.5, 91.1],
       ['20231004', 91.1, 91.21, 85.75, 86.09],
       ['20231005', 86.09, 86.52, 83.84, 84.18],
       ['20231006', 84.18, 84.95, 83.44, 84.47],
       ['20231008', 84.43, 88.15, 84.43, 87.37],
       ['20231009', 87.38, 89.0, 86.42, 88.25],
       ['20231010', 88.25, 88.49, 86.91, 87.72],
       ['20231011', 87.72, 88.26, 85.21, 85.54],
       ['20231012', 85.54, 87.64, 85.18, 86.26],
       ['20231013', 86.26, 91.0, 86.26, 90.94]], dtype=object)

In [11]:
brent_values = [['20231002', 92.47, 90.48], ['20231003', 90.48, 91.1],
                ['20231004', 91.1, 86.09], ['20231005', 86.09, 84.18],
                ['20231006', 84.18, 84.47], ['20231008', 84.43, 87.37],
                ['20231009', 87.38, 88.25], ['20231010', 88.25, 87.72],
                ['20231011', 87.72, 85.54], ['20231012', 85.54, 86.26],
                ['20231013', 86.26, 90.94]]
brent_columns = ['date', 'open', 'close']
brent = pd.DataFrame(brent_values, columns=brent_columns)
display(brent)

        date   open  close
0   20231002  92.47  90.48
1   20231003  90.48  91.10
2   20231004  91.10  86.09
3   20231005  86.09  84.18
4   20231006  84.18  84.47
5   20231008  84.43  87.37
6   20231009  87.38  88.25
7   20231010  88.25  87.72
8   20231011  87.72  85.54
9   20231012  85.54  86.26
10  20231013  86.26  90.94

In [13]:
brent_high = pd.Series([93.33, 91.56, 91.21, 86.52, 84.95, 88.15, 89., 88.49, 88.26, 87.64, 91.])
print(brent_high)
brent_low = pd.Series([90.35, 89.5, 85.75, 83.84, 83.44, 84.43, 86.42, 86.91, 85.21, 85.18, 86.26]                      )
print(brent_low)

0     93.33
1     91.56
2     91.21
3     86.52
4     84.95
5     88.15
6     89.00
7     88.49
8     88.26
9     87.64
10    91.00
dtype: float64
0     90.35
1     89.50
2     85.75
3     83.84
4     83.44
5     84.43
6     86.42
7     86.91
8     85.21
9     85.18
10    86.26
dtype: float64

Добавление нового столбца в датафрейм

In [19]:
brent['high'] = brent_high
brent = brent[['date', 'open', 'high', 'close']]
display(brent)

        date   open   high  close
0   20231002  92.47  93.33  90.48
1   20231003  90.48  91.56  91.10
2   20231004  91.10  91.21  86.09
3   20231005  86.09  86.52  84.18
4   20231006  84.18  84.95  84.47
5   20231008  84.43  88.15  87.37
6   20231009  87.38  89.00  88.25
7   20231010  88.25  88.49  87.72
8   20231011  87.72  88.26  85.54
9   20231012  85.54  87.64  86.26
10  20231013  86.26  91.00  90.94

In [28]:
brent.insert(3, 'low', brent_low, False)
# brent = brent.drop('low', axis=1)
display(brent)

        date   open   high    low  close
0   20231002  92.47  93.33  90.35  90.48
1   20231003  90.48  91.56  89.50  91.10
2   20231004  91.10  91.21  85.75  86.09
3   20231005  86.09  86.52  83.84  84.18
4   20231006  84.18  84.95  83.44  84.47
5   20231008  84.43  88.15  84.43  87.37
6   20231009  87.38  89.00  86.42  88.25
7   20231010  88.25  88.49  86.91  87.72
8   20231011  87.72  88.26  85.21  85.54
9   20231012  85.54  87.64  85.18  86.26
10  20231013  86.26  91.00  86.26  90.94

Изменение типа данных столбцов датафрейма

In [30]:
brent['date'] = brent['date'].astype('datetime64[ns]')
# brent['date'] = brent['date'].astype('datetime64[ns]')
display(brent)

         date   open   high    low  close
0  2023-10-02  92.47  93.33  90.35  90.48
1  2023-10-03  90.48  91.56  89.50  91.10
2  2023-10-04  91.10  91.21  85.75  86.09
3  2023-10-05  86.09  86.52  83.84  84.18
4  2023-10-06  84.18  84.95  83.44  84.47
5  2023-10-08  84.43  88.15  84.43  87.37
6  2023-10-09  87.38  89.00  86.42  88.25
7  2023-10-10  88.25  88.49  86.91  87.72
8  2023-10-11  87.72  88.26  85.21  85.54
9  2023-10-12  85.54  87.64  85.18  86.26
10 2023-10-13  86.26  91.00  86.26  90.94

Изменение индексации датафрейма

In [37]:
# brent.set_index('date')
brent.set_index('date', inplace=True)
display(brent)

In [39]:
brent.reset_index(inplace=True)
display(brent)

         date   open   high    low  close
0  2023-10-02  92.47  93.33  90.35  90.48
1  2023-10-03  90.48  91.56  89.50  91.10
2  2023-10-04  91.10  91.21  85.75  86.09
3  2023-10-05  86.09  86.52  83.84  84.18
4  2023-10-06  84.18  84.95  83.44  84.47
5  2023-10-08  84.43  88.15  84.43  87.37
6  2023-10-09  87.38  89.00  86.42  88.25
7  2023-10-10  88.25  88.49  86.91  87.72
8  2023-10-11  87.72  88.26  85.21  85.54
9  2023-10-12  85.54  87.64  85.18  86.26
10 2023-10-13  86.26  91.00  86.26  90.94

In [40]:
lst = list(range(1, 12))
brent.index = lst
brent

         date   open   high    low  close
1  2023-10-02  92.47  93.33  90.35  90.48
2  2023-10-03  90.48  91.56  89.50  91.10
3  2023-10-04  91.10  91.21  85.75  86.09
4  2023-10-05  86.09  86.52  83.84  84.18
5  2023-10-06  84.18  84.95  83.44  84.47
6  2023-10-08  84.43  88.15  84.43  87.37
7  2023-10-09  87.38  89.00  86.42  88.25
8  2023-10-10  88.25  88.49  86.91  87.72
9  2023-10-11  87.72  88.26  85.21  85.54
10 2023-10-12  85.54  87.64  85.18  86.26
11 2023-10-13  86.26  91.00  86.26  90.94

In [42]:
brent.rename(str.upper, axis='columns', inplace=True)
display(brent)

         DATE   OPEN   HIGH    LOW  CLOSE
1  2023-10-02  92.47  93.33  90.35  90.48
2  2023-10-03  90.48  91.56  89.50  91.10
3  2023-10-04  91.10  91.21  85.75  86.09
4  2023-10-05  86.09  86.52  83.84  84.18
5  2023-10-06  84.18  84.95  83.44  84.47
6  2023-10-08  84.43  88.15  84.43  87.37
7  2023-10-09  87.38  89.00  86.42  88.25
8  2023-10-10  88.25  88.49  86.91  87.72
9  2023-10-11  87.72  88.26  85.21  85.54
10 2023-10-12  85.54  87.64  85.18  86.26
11 2023-10-13  86.26  91.00  86.26  90.94

In [44]:
brent.rename(lambda x: x - 1, axis=0, inplace=True)
display(brent)

         DATE   OPEN   HIGH    LOW  CLOSE
0  2023-10-02  92.47  93.33  90.35  90.48
1  2023-10-03  90.48  91.56  89.50  91.10
2  2023-10-04  91.10  91.21  85.75  86.09
3  2023-10-05  86.09  86.52  83.84  84.18
4  2023-10-06  84.18  84.95  83.44  84.47
5  2023-10-08  84.43  88.15  84.43  87.37
6  2023-10-09  87.38  89.00  86.42  88.25
7  2023-10-10  88.25  88.49  86.91  87.72
8  2023-10-11  87.72  88.26  85.21  85.54
9  2023-10-12  85.54  87.64  85.18  86.26
10 2023-10-13  86.26  91.00  86.26  90.94

In [51]:
# brent.set_index('DATE', inplace=True)
# brent.T
# brent.transpose()
display(brent)

             OPEN   HIGH    LOW  CLOSE
DATE
2023-10-02  92.47  93.33  90.35  90.48
2023-10-03  90.48  91.56  89.50  91.10
2023-10-04  91.10  91.21  85.75  86.09
2023-10-05  86.09  86.52  83.84  84.18
2023-10-06  84.18  84.95  83.44  84.47
2023-10-08  84.43  88.15  84.43  87.37
2023-10-09  87.38  89.00  86.42  88.25
2023-10-10  88.25  88.49  86.91  87.72
2023-10-11  87.72  88.26  85.21  85.54
2023-10-12  85.54  87.64  85.18  86.26
2023-10-13  86.26  91.00  86.26  90.94

In [61]:
data = [['2023-06-01',122.820000,124.419998,122.620003,123.720001],
        ['2023-06-02',123.989998,126.150002,123.760002,124.669998],
        ['2023-06-05',124.010002,127.430000,123.839996,126.010002],
        ['2023-06-06',126.010002,128.289993,125.360001,127.309998],
        ['2023-06-07',126.970001,129.039993,122.120003,122.500000],
        ['2023-06-08',122.230003,123.230003,121.239998,122.139999],
        ['2023-06-09',122.250000,123.760002,121.910004,122.230003],
        ['2023-06-12',122.790001,124.050003,121.660004,123.639999],
        ['2023-06-13',124.980003,125.160004,123.180000,123.830002],
        ['2023-06-14',123.099998,124.050003,121.449997,123.669998],
        ['2023-06-15',123.139999,125.459999,122.400002,125.089996],
        ['2023-06-16',125.930000,126.110001,123.279999,123.529999]]
col = ['date','open','high','low','close']
google = pd.DataFrame(data=data, columns=col)
google['date'] = google['date'].astype('datetime64[ns]')
display(google)

         date        open        high         low       close
0  2023-06-01  122.820000  124.419998  122.620003  123.720001
1  2023-06-02  123.989998  126.150002  123.760002  124.669998
2  2023-06-05  124.010002  127.430000  123.839996  126.010002
3  2023-06-06  126.010002  128.289993  125.360001  127.309998
4  2023-06-07  126.970001  129.039993  122.120003  122.500000
5  2023-06-08  122.230003  123.230003  121.239998  122.139999
6  2023-06-09  122.250000  123.760002  121.910004  122.230003
7  2023-06-12  122.790001  124.050003  121.660004  123.639999
8  2023-06-13  124.980003  125.160004  123.180000  123.830002
9  2023-06-14  123.099998  124.050003  121.449997  123.669998
10 2023-06-15  123.139999  125.459999  122.400002  125.089996
11 2023-06-16  125.930000  126.110001  123.279999  123.529999

Доступ к строке

In [54]:
google[2:3]

        date        open    high         low       close
2 2023-06-05  124.010002  127.43  123.839996  126.010002

Доступ к строкам(датафреймс нечисловыми метками индекса)

In [60]:
# google = google.set_index('date')
google.head(10)

                  open        high         low       close
date
2023-06-01  122.820000  124.419998  122.620003  123.720001
2023-06-02  123.989998  126.150002  123.760002  124.669998
2023-06-05  124.010002  127.430000  123.839996  126.010002
2023-06-06  126.010002  128.289993  125.360001  127.309998
2023-06-07  126.970001  129.039993  122.120003  122.500000
2023-06-08  122.230003  123.230003  121.239998  122.139999
2023-06-09  122.250000  123.760002  121.910004  122.230003
2023-06-12  122.790001  124.050003  121.660004  123.639999
2023-06-13  124.980003  125.160004  123.180000  123.830002
2023-06-14  123.099998  124.050003  121.449997  123.669998

Доступ к нескольким строкам

In [68]:
# google['open']
# google[['open']]
print(type(google['open']))
print(type(google[['open']]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [69]:
google[['low', 'high']]

           low        high
0   122.620003  124.419998
1   123.760002  126.150002
2   123.839996  127.430000
3   125.360001  128.289993
4   122.120003  129.039993
5   121.239998  123.230003
6   121.910004  123.760002
7   121.660004  124.050003
8   123.180000  125.160004
9   121.449997  124.050003
10  122.400002  125.459999
11  123.279999  126.110001

In [71]:
google[(google['open'] > 125) | (google['close'] > 125)]
google[(google['high'] > 125) & (google['low'] > 125)]

        date        open        high         low       close
3 2023-06-06  126.010002  128.289993  125.360001  127.309998

In [72]:
data = [[1,15732.5,15852.14,14877.63,14935.9,23621810000],
        [2,14751.78,15319.03,14530.23,14893.75,22722460000],
        [3,14681.83,14740.54,13764.24,13768.92,20699010000],
        [4,13481.5,14002.65,13094.65,13770.57,27938600000],
        [5,13812.19,14504.82,13767.71,14098.01,22917570000],
        [6,14118.79,14509.56,13733.16,13791.15,23742060000],
        [7,13768.97,14163.73,13465.56,13548.07,21783060000],
        [8,13424.36,13696.86,12587.88,13694.62,20297420000],
        [9,13570.83,13837.59,13224.98,13313.44,27742350000],
        [10,13328.36,13353.28,12670.08,12843.81,28635340000],
        [11,12795.12,13899.28,12555.35,13893.84,31630400000],
        [12,13860.39,14218.76,13682.55,14169.3,26877890000],
        [13,14177.21,14646.9,14101.34,14261.5,27126270000],
        [14,14304.35,14534.38,13689.23,13711.0,24148400000],
        [15,13547.29,13685.95,13317.74,13351.08,19490360000],
        [16,13319.39,13710.7,12828.02,12839.29,23315200000],
        [17,12749.17,13011.45,12315.74,12334.64,24624260000],
        [18,12331.69,12985.01,11990.15,12144.66,25596970000],
        [19,11923.03,11990.61,11108.76,11805.0,30883260000],
        [20,11727.14,11988.43,11035.69,11354.62,25677110000],
        [21,11396.28,12131.66,11092.48,12131.13,23262840000],
        [22,12137.54,12320.12,11901.43,12012.73,19341280000],
        [23,12200.33,12245.4,11328.27,11340.02,24327710000],
        [24,10986.85,11244.26,10565.14,10798.35,29275170000],
        [25,10974.05,11613.23,10938.06,11607.62,25190770000],
        [26,11661.02,11677.49,10850.01,11127.85,26652190000],
        [27,10964.18,11689.7,10911.45,11635.31,19116360000],
        [28,11524.49,11541.1,11005.93,11452.42,21963960000],
        [29,11561.64,12093.02,11322.84,11834.11,25230550000],
        [30,11837.96,12426.26,11533.37,12390.69,23117120000],
        [31,12317.96,12736.19,12260.48,12657.55,25219290000],
        [32,12703.72,13047.19,12438.86,13047.19,26340720000],
        [33,12996.63,13181.09,12674.87,12705.22,24086490000],
        [34,12523.16,12655.84,12141.52,12141.71,20877800000],
        [35,12021.05,12124.87,11546.52,11630.86,22893680000],
        [36,11643.03,12132.67,11471.5,12112.31,17800080000],
        [37,12174.94,12270.19,11316.92,11448.4,26454340000],
        [38,11338.57,11613.57,10732.72,10867.93,22718590000],
        [39,10833.38,11101.5,10572.33,10575.62,22865220000],
        [40,10659.01,11230.44,10577.89,10652.4,22569590000],
        [41,10659.95,10766.69,10088.83,10321.39,22512590000],
        [42,10575.65,10972.97,10542.43,10859.72,23776090000],
        [43,10867.07,11210.38,10713.33,11102.45,24680370000],
        [44,11028.43,11156.35,10262.93,10475.25,25423620000],
        [45,10516.94,11352.43,10344.01,11323.33,26869400000],
        [46,11233.9,11492.62,11006.21,11146.06,23736340000],
        [47,11091.01,11310.82,10975.66,11226.36,14779100000],
        [48,11147.57,11546.77,10944.37,11461.5,25198780000],
        [49,11380.99,11425.51,10910.62,11004.62,22186460000],
        [50,11015.48,11571.64,10642.1,10705.41,29946270000],
        [51,10707.44,10753.57,10313.32,10497.86,22410180000],
        [52,10462.19,10502.08,10207.47,10466.48,15783390000]]
col = ['week','open','high','low','close','volume']

In [75]:
nasdaq_weekly_2022 = pd.DataFrame(data, columns=col)
display(nasdaq_weekly_2022.head())

   week      open      high       low     close       volume
0     1  15732.50  15852.14  14877.63  14935.90  23621810000
1     2  14751.78  15319.03  14530.23  14893.75  22722460000
2     3  14681.83  14740.54  13764.24  13768.92  20699010000
3     4  13481.50  14002.65  13094.65  13770.57  27938600000
4     5  13812.19  14504.82  13767.71  14098.01  22917570000

In [76]:
nasdaq_weekly_2022.set_index('week',inplace=True)
display(nasdaq_weekly_2022.head())

          open      high       low     close       volume
week
1     15732.50  15852.14  14877.63  14935.90  23621810000
2     14751.78  15319.03  14530.23  14893.75  22722460000
3     14681.83  14740.54  13764.24  13768.92  20699010000
4     13481.50  14002.65  13094.65  13770.57  27938600000
5     13812.19  14504.82  13767.71  14098.01  22917570000

# loc 2.4.1

In [79]:
# display(google)
google.loc[2]
google.loc[[2]]

        date        open    high         low       close
2 2023-06-05  124.010002  127.43  123.839996  126.010002

In [84]:
# google.loc[2]['open']
google.loc[2, 'open']
# google.loc[2][1]

np.float64(124.010002)