In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

Stiahnite CSV súbor dostupný na https://peter.butka.website.tuke.sk/res/solutions.csv a uložte ho do pracovného adresára. Vytvorte dataframe s názvom dfsolutions, ktorý bude obsahovať tieto stiahnuté dáta

In [24]:
dfsolutions = pd.read_csv('https://peter.butka.website.tuke.sk/res/solutions.csv')

Uložte do premennej *time* hodnoty atribútu time_left z dataframu dfsolutions

In [25]:
time = dfsolutions['time_left']

Vypíšte do konzoly iba prvých 10 riadkov dát

In [18]:
time.head(10)

0    2343.0
1    2329.0
2    2366.0
3    2362.0
4    2345.0
5    2242.0
6    2311.0
7    2314.0
8    2328.0
9    2337.0
Name: time_left, dtype: float64

Vypíšte do konzoly informácie o dátach spolu s dátovým typom každého atribútu a náhľadom jeho hodnôt

In [19]:
dfsolutions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          205 non-null    int64
 1   problem_id  205 non-null    int64
 2   subject_id  205 non-null    int64
 3   start       205 non-null    int64
 4   stop        199 non-null    float64
 5   time_left   199 non-null    float64
 6   answer      199 non-null    object
dtypes: float64(2), int64(4), object(1)
memory usage: 11.3+ KB

Vymažte v dátach všetky záznamy, ktoré obsahujú chýbajúce hodnoty

In [20]:
dfsolutions = dfsolutions.dropna()

Transformujte atribút *subject_id* z dátového typu na vhodný diskrétny typ (integer na 
factor v R, alebo category v Pythone), skontrolujte aj ostatné astribúty, uvažujte o tom 
či boli načítané v správnom type

In [27]:
dfsolutions['subject_id'] = dfsolutions['subject_id'].astype('category')

In [30]:
dfsolutions.head(10)

   id  problem_id subject_id       start          stop  time_left answer
0   1         156         29  1304095119  1.304095e+09     2343.0      B
1   2         269         25  1304095119  1.304095e+09     2329.0      C
2   3          34         22  1304095127  1.304095e+09     2366.0      C
3   4          19         23  1304095127  1.304095e+09     2362.0      D
4   5         605         26  1304095127  1.304095e+09     2345.0      A
5   6         384         27  1304095131  1.304095e+09     2242.0      C
6   7         538         28  1304095133  1.304095e+09     2311.0      C
7   8         312         24  1304095134  1.304095e+09     2314.0      D
8   9         327         22  1304095151  1.304095e+09     2328.0      E
9  10         194         23  1304095152  1.304095e+09     2337.0      A