In [11]:
import pandas as pd
import numpy as np

Создание DataFrame из словаря

In [4]:
dic = {'Количество': [40, 21, 54], 'Цена': [2100, 510.7, 2541]}
df = pd.DataFrame(data=dic)
display(df)

   Количество    Цена
0          40  2100.0
1          21   510.7
2          54  2541.0

Создание DataFrame из списка словарей

In [5]:
lst = [{'Количество': 115, 'Цена': 21010},
       {'Количество': 210, 'Цена': 14150.5},
       {'Количество': 501, 'Цена': 181010}]
df = pd.DataFrame(lst)
display(df)

   Количество      Цена
0         115   21010.0
1         210   14150.5
2         501  181010.0

Создание DataFrame из списка списков

In [7]:
lst = [[115, 20201],
       [210, 4502.15],
       [21, 54.15],
       [150, 211800]]
df = pd.DataFrame(lst, columns=['Количество', 'Цена'])
display(df)

   Количество       Цена
0         115   20201.00
1         210    4502.15
2          21      54.15
3         150  211800.00

In [9]:
srs1 = pd.Series([1, 2, 3, 4, 5], name='Количество')
srs2 = pd.Series([10, 20, 30, 40, 50], name='Цена')
df = pd.DataFrame([srs1, srs2])
df = df.T
display(df)

   Количество  Цена
0           1    10
1           2    20
2           3    30
3           4    40
4           5    50

Создание объекта DataFrame из массива NumPy

In [15]:
np_obj = np.random.randint(1, 1200, (3, 2))
df = pd.DataFrame(np_obj, columns=['Количество', 'Цена'])
display(df)

   Количество  Цена
0         421   905
1         631  1179
2         780   295